
/*** Dimensions for iphone 8 ***/

body{
	height: 667px;
	width: 375px;
	padding-left: 50px;
}


body {
	font-family: SF Pro display;
	font-size: 1em;
	color: white;
}

/*** Title Bar Attributes ***/

header {
	background-color: #f4f4f4;
	border-bottom: 2px solid #8a8a8f;
}

.arrow {
	padding-left: 4%;
	vertical-align: middle;
}

i {
  color: #007AFF;
}

h1{
	vertical-align: middle;
	display: inline-block;
	color: black;
	font-size: 1.4em;
	padding-top: .4em;
	padding-bottom: .6em;
	padding-left: 2.7em;
}

.topbar {
	background-color: #f8f8f8;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}



h2{
	display: inline-block;
	font-size: 1.2em;
	font-weight: 700;
  color: black;
}

.busNumTitle {
  width: 18%;
}

.desTitle {
	padding-left: 8%
}

.freqTitle {
	float: right;
}

/*** List Attributes ***/

.busNum {
	width: 18%;
	display: inline-block;
	font-size: 1.3em;
	font-weight: 600;
}


.des {
	letter-spacing: .05em;
	display: inline-block;
	font-weight: lighter;
	padding-left: 8%;
}



.freq {
	float: right;
	right: 0px;
	display: inline-block;
	font-size: 1.3em;
	font-weight: 600;
}



p {
	letter-spacing: .05em;
	padding-top: 4%;
	padding-left: 4%;
	font-weight: lighter;
	font-size: .8em;
}

ul {
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
}

/*** Header ***/




/*** Border ***/

.borderstyle div{
	border-bottom: 1px solid #06544c;
}

/*** Background ***/


hr {
  border-top: .5px solid #ffffff;
	border-bottom: .5px solid #ffffff;
	height: 0px;
	margin: 0px;
}

.backgroundcolor div{
	background-color: #0c645a;
}
